<a href="https://colab.research.google.com/github/atasighosh/Atasi/blob/main/Logistic_Regression_assignment_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LOGISTIC REGRESSION ASSIGNMENT

In [ ]:
from sklearn import datasets
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

dataset=pd.read_csv(r"D:\Python\logistic-regression-2 (1)\census-income .csv")
dataset.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  annual_income   32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
dataset["occupation"].value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

In [ ]:
sum((dataset["occupation"]=="Tech-support")& (dataset["annual_income"]==">50K"))

283

In [ ]:
sum(dataset["annual_income"]==">50K")

7841

In [ ]:
sum(dataset["occupation"]=="?")

1843

In [ ]:
sum((dataset["marital-status"]=="Never-married")& (dataset["hours-per-week"]<20))

907

In [ ]:
sum(dataset["annual_income"]=="?")

0

In [ ]:
np.percentile(dataset["age"],50)

37.0

In [ ]:
dataset.loc[dataset["fnlwgt"]==dataset["fnlwgt"].max()]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
14449,25,Private,1484705,Some-college,10,Divorced,Exec-managerial,Unmarried,White,Female,0,0,25,United-States,<=50K

In [ ]:
dataset.loc[dataset["fnlwgt"]==dataset["fnlwgt"].min()]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
17096,25,?,12285,Some-college,10,Never-married,?,Not-in-family,Amer-Indian-Eskimo,Female,0,0,20,United-States,<=50K

In [ ]:
a=dataset.columns
b=0
for i in a:
    c=sum(dataset[i]=="?")
    b=b+c
print(b)

4262

In [ ]:
dataset

In [ ]:
sum((dataset["workclass"]=="Private")& (dataset["native-country"]!="United-States"))

2561

In [ ]:
dataset.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'annual_income'],
      dtype='object')

In [ ]:
sum((dataset["workclass"]=="<=50K") | (dataset["hours-per-week"]>=40))

24798

In [ ]:
# Rename the last column as Annual Income
# ● Remove the missing values from the dataset
# ● Change the labels of categorical data into numerical data using Label
# Encoder.
# ● Split the dataset into a train and test of proportions 70:30 and set the random
# state to 0.
# ● Build a Logistic Regression Model on the data.

In [ ]:
a=dataset.columns
for i in a:
    dataset=dataset.drop(dataset[dataset[i]=="?"].index)
dataset.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,2,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,2,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,2,338409,9,13,2,9,5,2,0,0,0,40,4,0

In [ ]:
dataset["occupation"].unique()

array([ 0,  3,  5,  9,  7, 11, 13,  4,  6, 12,  2, 10,  1,  8])

In [ ]:
from sklearn.preprocessing import LabelEncoder
a=dataset.columns
b=[]
for i in a:
    if dataset[i].dtypes==object:
        b.append(i)

dataset[b]=dataset[b].apply(LabelEncoder().fit_transform)
dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39,0
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,0
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,0
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,0
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,7,12,2,13,5,4,0,0,0,38,39,0
32557,40,4,154374,11,9,2,7,0,4,1,0,0,40,39,1
32558,58,4,151910,11,9,6,1,4,4,0,0,0,40,39,0
32559,22,4,201490,11,9,4,1,3,4,1,0,0,20,39,0
32560,52,5,287927,11,9,2,4,5,4,0,15024,0,40,39,1

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from sklearn.model_selection import train_test_split
x=dataset.iloc[:,:-1]
y=dataset["annual_income"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [ ]:
RF = RandomForestClassifier()
RF.fit(x_train, y_train)

RandomForestClassifier()

In [ ]:
y_pred = RF.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8557682464940116

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[6885,  522],
       [ 887, 1475]], dtype=int64)

In [ ]:
parameters = [{'max_depth':np.arange(1,10),
               'min_samples_split': np.arange(2,5),
               'random_state':[3],
               'n_estimators': np.arange(20,30)}]
parameters

[{'max_depth': array([1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'min_samples_split': array([2, 3, 4]),
  'random_state': [3],
  'n_estimators': array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29])}]

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import accuracy_score

### Define search
search = RandomizedSearchCV(RF, parameters, scoring='accuracy')

In [ ]:
### Execute the search
result = search.fit(x_train, y_train)

In [ ]:
result.best_score_

0.856879318411301

In [ ]:
best = result.best_params_
best

{'random_state': 3, 'n_estimators': 22, 'min_samples_split': 2, 'max_depth': 9}

In [ ]:
rf = RandomForestClassifier(**best)
rf.fit(x_train, y_train)

RandomForestClassifier(max_depth=9, n_estimators=22, random_state=3)

In [ ]:
accuracy_score(y_test, y_pred)

0.8557682464940116

In [ ]:
##Model validation Metrics of train dataset
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import classification_report


print(classification_report(y_train,predicted_train))
# print(confusion_matrix(y_train,predicted_train))
print("accuracy=",accuracy_score(y_train,predicted_train))
print("precision=",precision_score(y_train,predicted_train))
# print(recall_score(y_train,predicted_train))
# print(f1_score(y_train,predicted_train))

              precision    recall  f1-score   support

           0       0.81      0.95      0.87     15890
           1       0.66      0.31      0.42      5223

    accuracy                           0.79     21113
   macro avg       0.73      0.63      0.64     21113
weighted avg       0.77      0.79      0.76     21113

accuracy= 0.7888504712736228
precision= 0.6566980745596067

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score,roc_curve
roc_auc=roc_auc_score(y_train,predicted_train)
logit.predict_log_proba(x_train)[:,1]


print(classification_report(y_test,predicted_test))
# print(confusion_matrix(y_train,predicted_train))
# print("accuracy=",accuracy_score(y_train,predicted_train))
# print("precision=",precision_score(y_train,predicted_train))
# print(recall_score(y_train,predicted_train))
# print(f1_score(y_train,predicted_train))

              precision    recall  f1-score   support

           0       0.80      0.95      0.87      6764
           1       0.64      0.29      0.40      2285

    accuracy                           0.78      9049
   macro avg       0.72      0.62      0.63      9049
weighted avg       0.76      0.78      0.75      9049

In [ ]:
ytest_list=y_test.values.tolist()
a=0
for i in range(len(ytest_list)):
    if ytest_list[i]!=predicted_test[i]:
        a=a+i
print(a)

8838257